#container {
  display: flex;
  flex-direction: row;
  width: 1430px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  margin-left: 21px;
  margin-top: 13px;
  height: 58px;
  position: relative;
}
#container:hover {
  background-color: rgba(255, 255, 255, 0.2);
  #album,
  #artist {
    color: white;
  }
  #more,
  #addbutton {
    opacity: 1;
  }
  #play {
    opacity: 1;
  }
  #hash {
    opacity: 0;
  }
}
#hash {
  font-size: 16px;
  margin-left: 22px;
  margin-top: 22px;
  color: #b3b3b3;
  opacity: 1;
  position: absolute;
}
#play {
  opacity: 0;
  width: 15px;
  height: 15px;
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  user-select: none;
}
#title {
  max-width: 500px;
  margin-left: 18px;
  font-size: 16px;
  color: white;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide any text that overflows the container */
  text-overflow: ellipsis; /* Display an ellipsis ("...") for overflow */
  position: absolute;
}
#album {
  padding-left: 250px;
  font-size: 14px;
  color: #b3b3b3;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden; /* Prevent text from wrapping to the next line */
  text-overflow: ellipsis; /* Display an ellipsis ("...") for overflow */
  position: absolute;
}
#date {
  position: absolute;
  padding-left: 725px;
  font-size: 14px;
  margin-top: 22px;
  color: #b3b3b3;
}
#titlepack img {
  padding-left: 30px;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
}
#titlepack {
  display: flex;
  flex-direction: row;
  margin-left: 18px;
}
#data {
  display: flex;
  flex-direction: column;
}
#artist {
  margin-top: 25px;
  margin-left: 17px;
  max-width: 500px;
  font-size: 14px;
  color: #b3b3b3;
  white-space: nowrap;
  overflow: hidden; /* Prevent text from wrapping to the next line */
  text-overflow: ellipsis; /* Display an ellipsis ("...") for overflow */
  position: absolute;
  text-decoration: none;
}
#duration {
  font-size: 14px;
  color: #b3b3b3;
  margin-top: 22px;
}
.hover:hover {
  text-decoration: underline;
  cursor: pointer;
}
#durationdiv {
  position: absolute;
  padding-left: 960px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 240px;
}
#more {
  width: 15px;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 6px;
  opacity: 0;
}
#addbutton {
  border: 1px solid #b3b3b3;
  border-radius: 50px;
  display: flex;
  width: 15px;
  height: 15px;
  justify-items: center;
  cursor: pointer;
  margin-right: 30px;
  margin-top: 5px;
  opacity: 0;
  display: flex;
}
#addbutton svg {
  width: 10px;
  margin-left: 2.1px;
}
#addbutton:hover {
  border: 2px solid white;
}
#addbutton:hover path {
  fill: white;
}
