#container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 724px;
    width: 75.5vw;
    margin: 0 10px;
    align-items: flex-start;
    padding-left: 27px;
    padding-right: 0px;
    padding-top: 41px;
    padding-bottom: 41px;
    background-color: #121212;
    scrollbar-width: thick;
    scrollbar-color: transparent transparent;
    contain: layout; /* Ensure container queries work */
}

#cardsContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

#container:hover {
    scrollbar-color: #898989 transparent;
}

#container::-webkit-scrollbar-button {
    display: none;
}

/* Container Query */
@container (min-width: 10vw) { /* Adjust condition as needed */
    #container {
        width: 10px; /* This will be applied when the container is at least 300px wide */
        background-color: aliceblue;
    }
}

@container (max-width: 80vw) { /* Another example for max-width condition */
    #container {
        width: 10px; /* This will be applied when the container is no wider than 600px */
        background-color: aliceblue;
    }
}
