.container {
  background-color: #121212;
  margin-left: 15px;
  width: 75.5vw;
  overflow-y: scroll;
  scrollbar-width: thick;
  scrollbar-color: transparent transparent;
  max-height: 84.3vh;
}

.container:hover {
  scrollbar-color: #898989 transparent;
}
.firstdiv {
  width: 100%; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
  background: linear-gradient(
    to right,
    rgb(92, 2, 92) 50%,
    rgb(0, 0, 255) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 0;
}
.firstsentence {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 5px;
}
.seconddiv {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.firstdiv .secondsentence {
  width: 750px;
  font-size: 17.5px;
  align-self: center;
}

.secondsentence {
  font-size: 17.5px;
  align-self: center;
}
.seconddiv .secondsentence {
  width: 650px;
}
.firsttext {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.firstdivbtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
  align-self: center;
}
.getpremuimbtn {
  all: unset;
  width: 130px;
  border: 1px solid white;
  background-color: white;
  color: black;
  padding: 13px 15px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 900;
}
.plansbtn {
  all: unset;
  background-color: transparent;
  border: 1px solid white;
  width: 170px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 900;
}
.termsapply {
  text-decoration: underline;
}
.paymentmethodbtn {
  all: unset;
  background-color: #EFEFEF;
  border-radius: 4px;
  width: 50px;
  height: 30px;
}
.paymentmethods {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 230px;
  align-self: center;
  margin-top: 40px;
}
.morepay {
  text-decoration: underline;
  color: #898989;
}
.checkicon {
  width: 20px;
  height: 20px;
}
.checks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 15px;
}
.checkstxt p {
  justify-self: left;
  margin-bottom: -13.5px;
}
.checkscontainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 5px;
}
.includecontainer {
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 50px;
  margin-top: 100px;
}
.allstatment {
  margin-top: 50px;
  font-size: 30px;
  font-weight: 700;
}
.card {
  width: 310px;
  height: 415px;
  background-color: #242424;
  padding: 20px 15px;
}

.cardlogo {
  width: 25px;
  height: 25px;
  margin-top: 12.5px;
}
.cardhead {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
}
.topdiv p {
  justify-self: left;
}

.cardlist ul li {
  justify-self: left;
  text-align: left;
  margin-bottom: 0.5px;
  margin-left: -20px;
}
.plannamemini {
  font-size: 32px;
  font-weight: 700;
  color: #cff56a;
}
.plannameindividual {
  font-size: 32px;
  font-weight: 700;
  color: #ffd2d7;
}

.plannamestudent {
  font-size: 32px;
  font-weight: 700;
  color: #c4b1d4;
}
.plannameduo {
  font-size: 32px;
  font-weight: 700;
  color: #ffc862;
}
.plannamefamily {
  font-size: 32px;
  font-weight: 700;
  color: #a5bbd1;
}
.title {
  font-weight: 700;
}

.cardbtn1 {
  all: unset;
  width: 95%;
  height: 50px;
  border-radius: 50px;
  background-color: #cff56a;
  color: black;
  font-weight: 700;
}
.cardbtn2 {
  all: unset;
  width: 95%;
  height: 50px;
  border-radius: 50px;
  background-color: #ffd2d7;
  color: black;
  font-weight: 700;
}
.cardbtn3 {
  all: unset;
  width: 95%;
  height: 50px;
  border-radius: 50px;
  background-color: #c4b1d4;
  color: black;
  font-weight: 700;
}

.cardbtn4 {
  all: unset;
  width: 95%;
  height: 50px;
  border-radius: 50px;
  background-color: #ffc862;
  color: black;
  font-weight: 700;
}
.cardbtn5 {
  all: unset;
  width: 95%;
  height: 50px;
  border-radius: 50px;
  background-color: #a5bbd1;
  color: black;
  font-weight: 700;
}
hr {
  border: 1.1px solid #3a3a3a;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 1100px;
  gap: 32px;
  justify-self: center;
  margin: 50px 0;
}
.terms {
  font-size: x-small;
  color: #999999;
}
.terms span {
  color: #999999;
  text-decoration: underline;
}
.terms span:hover {
  cursor: pointer;
}
