* {
  color: white;
  font-family: Poppins, Roboto, Arial, Helvetica, sans-serif;

}
.header {
  height: 48px;
  border-bottom: solid gray 1px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: black;
}
.explorediv {
  display: inline-flex;
  justify-content: space-between;
  gap: 15px;
}
.spotifylogo {
  width: 32px;
  height: 32px;
  padding: 5px 0px 0px 25px;
}
.homeimg {
  width: 22px;
  height: 22px;
}
.homebtn {
  all: unset;
  width: 46px;
  height: 46px;
  background-color: #1f1f1f;
  border-radius: 40px;
}
.searchbar {
  background-color: #1f1f1f;
  width: 465px;
  height: 47px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.search {
  background-color: #1f1f1f;
  border: 0px;
}
.searchicon {
  width: 30px;
  height: 30px;
  padding: 1%;
}
.browseicon {
  width: 30px;
  height: 30px;
  align-items: flex-end;
}
.searchminusbrowse {
  display: flex;
}
.downloadicon {
  width: 30px;
  height: 30px;
}
.headersearch {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-left: 18%;
}

.divider {
  display: flex;
  border-left: gray 1px solid;
  height: 25px;
  box-sizing: border-box;
  margin: 10px;
  padding-left: 6px;
}
.explore {
  background-color: white;
  color: #1f1f1f;
  border-radius: 30px;
  padding: 1%;
  width: 143px;
}
.install {
  background-color: #1f1f1f;
  border-radius: 30px;
  padding: 1%;
  width: 118px;
}
