* {
  transition: "all 0.5s ease";
}
#midsection {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 0px;
  padding-left: 2px;
  max-height: 84.3vh;
}
#mainpage {
  background-color: #000000;
  display: flex;
  flex-direction: column;
}
#footer {
  margin-top: -2px;
  height: 80px;
  z-index: 1;
}
.mainpage {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
#testshow {
  position: fixed;
  bottom: 10px;
  left: 350px;
}
body {
  background-color: black;
}

.chatbotbtn {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.chatbotWindow {
  position: fixed;
  bottom: 170px; /* Position above the button */
  right: 30px; /* Align with the button */
  width: 350px; /* Adjust width as needed */
  height: 350px; /* Adjust height as needed */
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it's above other elements */
}