#midsection {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 0px;
  padding-left: 2px;
  max-height: 687px;
  position: relative;
}
#mainpage {
  background-color: #000000;
}
#footer{
  height: 88px;
  padding-top: 120px;
  position: relative;
}
