#container{
    display: flex;
    flex-direction: column;
    width:100%;
    gap:0px;
    position: relative;
    margin-top:35px;
}
#innercontainer{
    display: flex;
    flex-direction: row;
    width:100%;
    gap:8px;
    margin-left: -10px;
}
#uppercontainer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width:99%;
}
#madefor{
    color:white;
    font-size: 24px;
    font-weight: 700;
}
#madefor:hover, #showall:hover{
    text-decoration: underline;
}
#showall{
    color:white;
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: 700;
}