#container{
    display: flex;
    flex-direction: row;
    width: 1430px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0);
    margin-left: 21px;
    margin-top: 13px;
    height: 58px;
}
#container:hover{
    background-color: rgba(255,255,255,0.2);
    #album, #artist{
        color:white;
    }
}
#hash{
    font-size: 20px;
    margin-left: 22px;
    color:#b3b3b3;
}
#title{
    margin-left:18px;
    font-size: 16px;
    color:white;
}
#album{
    margin-left: 358px;
    margin-top: 22px;
    font-size: 14px;
    color:#b3b3b3;
}
#date{
    margin-left: 273px;
    font-size: 14px;
    margin-top: 22px;
    color:#b3b3b3;
}
#titlepack img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
}
#titlepack{
    display: flex;
    flex-direction: row;
    margin-left: 18px;
}
#data{
    display: flex;
    flex-direction: column;
}
#artist{
    margin-top: -16px;
    margin-left: -71px;
    font-size: 14px;
    color:#b3b3b3;
}
#duration{
        font-size: 14px;
        color:#b3b3b3;
        margin-top: 22px;
        margin-left: 294px;
}
.hover:hover{
    text-decoration: underline;
    cursor: pointer;
}