body{
    background-color: #121212;
}
#container2 div{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-top: 30px;
    justify-content: center;
}



#b1,
#b2,
#b3 {
    width: 350px;
    height: 48px;
    border-radius: 500px;
    border: none;
    cursor: pointer;
    display: flex;

    align-items: center;
    justify-content: space-evenly;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

#b1 {
    background-color: #121212;
    border: 2px solid darkgrey;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #D9D9D9;

}

#b2 {
    background-color: #121212;
    border: 2px solid darkgrey;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #D9D9D9;


}

#b3 {
    background-color: #121212;
    border: 2px solid darkgrey;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #D9D9D9;

}

#b1 img,
#b2 img,
#b3 img {
    margin-right: 10px;
    width: 5%;
}

#b3 img {

    width: 35px;
}

.dividercontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.line {
    width: 100px;
    height: 2px;
    background-color: rgb(224, 224, 224);
    margin: 0 10px;
}

.text {
    font-size: 18px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0 10px;
    white-space: nowrap;
    color: #ffffff;
}



.acc h1 {
    font-weight: 900;
    opacity: 100;
    color: rgb(255, 255, 255);
    margin-right: 310px;
    font-size: small;
    letter-spacing: 0.1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: -20px;
}

#email {

    position: relative;
    left: 120px;
}

#pass {
    position: relative;
    margin-top: 0px;
    bottom: 10px;
    left: 65px;
}



#forg {
    position: absolute;
    left: 37%;
    bottom: 400%;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logi {
    position: relative;
    top: 170px;
    left: 100px;
    cursor: pointer;
    background-color: #1ED760;
    border-radius: 500px;
    width: 110px;
    height: 48px;
    border: none;

    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




#line2 {
    position: relative;
    width: 330px;
    height: 2px;
    background-color: rgb(224, 224, 224);
    top: 170px;
    left: 85px;

}

#don {
    position: relative;
    top: 180px;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    left: 150px;

}

#signup2 {
    position: relative;
    border-radius: 500px;
    width: 121px;
    height: 48px;
    top: 200px;
    white-space: nowrap;
    background-color: #121212;
    border-color: #D9D9D9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #D9D9D9;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    width: 400px;
}

#b1:hover,
#b2:hover,
#b3:hover {
    border-color: rgb(255, 255, 255);

}

#signup2:hover {

    border-color: rgb(255, 255, 255);
}

.inputbox:hover {

    border-color: rgb(255, 255, 255);
}



#logi:hover {

    background-color: #3BE477;

}

#inputbox1 {
    width: 300px;
    padding: 14px;
    border: 1px solid #ccc;
    background-color: #121212;
    border-radius: 4px;
    margin-top: 1px;
    position: relative;
    left: 120px;







}


.boxes {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    right: 35px;
    margin-right: 0px;
    width: fit-content;




}

#inputbox {
    display: flex;
    position: relative;
    padding: 14px;
    border: 1px solid #ccc;
    background-color: #121212;
    border-radius: 4px;
    margin-top: -100px;
    width: 300px;
    top: 100px;
    left: 120px;




}

.rem {

    width: fit-content;
    position: relative;
    top: 90px;
    left: 90px;
    display: flex;



}

#agree {

    color: #fcfcfc;

}

#conatiner2 {
    display: flex;
    gap: 250px;
    align-items: center;
    margin: -10;
}


@media(max-width:487px) {

    .acc {

        width: 300px;
    }

    .boxes {

        position: relative;
        right: 130px;
    }

    #pass {

        position: relative;
        left: 63px;
    }

    #email {



        white-space: nowrap;

    }

    #line2 {
        position: relative;
        left: 40px;
        width: 200px;
    }

    .rem {
        position: relative;
        left: 0px;
    }

    #don {

        white-space: nowrap;
        position: relative;
        left: 65px;
    }

    #signup2 {

        position: relative;
        width: 300px;
    }


}