body {
    background-color: white;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-top: 30px;
    justify-content: center;
}

#b1,
#b2,
#b3 {
    width: 450px;
    height: 48px;
    border-radius: 500px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

#b1 {
    background-color: #121212;
    border: 2px solid darkgrey;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #D9D9D9;

}

#b2 {
    background-color: #121212;
    border: 2px solid darkgrey;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #D9D9D9;

}

#b3 {
    background-color: #121212;
    border: 2px solid darkgrey;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #D9D9D9;

}

#b1 img,
#b2 img,
#b3 img {
    margin-right: 10px;
}

#b1 img {
    width: 30px;
    margin-left: 12px;
}
#b2 img {
    width: 30px;
    margin-right:22px;
}
#b3 img {
    width: 35px;
}

.divider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.line {
    width: 10%;
    height: 2px;
    background-color: rgb(224, 224, 224);
    margin: 0 10px;
}

.text {
    font-size: 18px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0 10px;
    white-space: nowrap;
    color: #ffffff;
}

.acc h1 {
    font-weight: 900;
    opacity: 100;
    color: rgb(255, 255, 255);
    margin-right: 310px;
    font-size: small;
    letter-spacing: 0.1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: -20px;
}

#pass {
    margin-right: 410px;
    margin-top: 100px;
}

.input-box {
    width: 450px;
    height: 20px;
    padding: 14px;
    margin-left: -13%;
    margin-bottom: 45%;
    border: 1px solid #ccc;
    background-color: #121212;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 110%;
}

#forg {
    position: absolute;
    left: 37%;
    bottom: -35%;
    color: #ffffff;
}

#logi {
    position: absolute;
    bottom: -58%;
    right: 38%;
    cursor: pointer;
    background-color: #1ED760;
    border-radius: 500px;
    width: 121px;
    height: 48px;
    border: none;
    /* Change border to none for better styling */
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Updated Checkbox Label Style */


/* Checkbox Style */
#myCheckbox {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    left: 41.5%;
    bottom: -50%;
}

#agree {
    position: absolute;
    left: 37%;
    bottom: -49%;
    font-size: small;
    color: #ffffff;

}

#line2 {
    position: absolute;
    width: 27%;
    height: 2px;
    background-color: rgb(224, 224, 224);
    bottom: -65%;
    right: 36%;

}

#don {
    position: absolute;
    bottom: -75%;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    right: 29%;

}

#signup2 {
    position: absolute;
    border-radius: 500px;
    width: 121px;
    height: 48px;
    bottom: -100%;
    white-space: nowrap;
    background-color: #121212;
    border-color: #D9D9D9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #D9D9D9;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    width: 450px;
}

#b1:hover,
#b2:hover,
#b3:hover {
    border-color: rgb(255, 255, 255);
    /* Changes background color on hover */
}

#signup2:hover {

    border-color: rgb(255, 255, 255);
}

.input-box:hover {

    border-color: rgb(255, 255, 255);
}

body {
    background-color: #121212;


}

#logi:hover {

    background-color: #3BE477;

}

.input-box1 {
    width: 450px;
    height: 20px;
    padding: 14px;
    border: 1px solid #ccc;
    background-color: #121212;
    border-radius: 4px;
    position: absolute;
    left: 49.5%;
    /* Centers the input box horizontally */
    transform: translateX(-50%);
    /* Centers it more accurately */
    top: 85%;
    /* Moves the input box down */
    margin-bottom: 50%;
}

@media (max-width: 1280px) {


    #agree {
        position: absolute;
        left: 33%;
        bottom: -49%;
        font-size: small;
        color: #ffffff;
        margin-right: 10%;

    }

    #myCheckbox {
        position: absolute;
        width: 16px;
        height: 16px;
        margin-right: 8px;
        left: 40%;
        bottom: -50%;
    }

    .input-box {
        width: 450px;
        height: 20px;
        padding: 14px;
        border: 1px solid #ccc;
        background-color: #121212;
        border-radius: 4px;
        position: absolute;
        left: 64.5%;
        /* Centers the input box horizontally */
        transform: translateX(-50%);
        /* Centers it more accurately */
        top: 110%;
        /* Moves the input box down */
        margin-bottom: 50%;
    }

    #pass {
        margin-right: 380px;
        margin-top: 100px;
    }




    .acc h1 {
        font-weight: 900;
        opacity: 100;
        color: rgb(255, 255, 255);
        margin-right: 270px;
        font-size: small;
        letter-spacing: 0.1px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: -20px;
    }

    .input-box1 {
        width: 450px;
        height: 20px;
        padding: 14px;
        border: 1px solid #ccc;
        background-color: #121212;
        border-radius: 4px;
        position: absolute;
        left: 51.5%;
        /* Centers the input box horizontally */
        transform: translateX(-50%);
        /* Centers it more accurately */
        top: 85%;
        /* Moves the input box down */
        margin-bottom: 50%;
    }

    #forg {
        position: absolute;
        left: 33%;
        bottom: -35%;
        color: #ffffff;
    }

    #logi {
        position: absolute;
        bottom: -58%;
        right: 30%;
        cursor: pointer;
        background-color: #1ED760;
        border-radius: 500px;
        width: 121px;
        height: 48px;
        border: none;
        /* Change border to none for better styling */
        font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    @media (max-width: 1152px) {


        #myCheckbox {
            position: absolute;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            left: 41%;
            bottom: -50%;
        }
    }

    @media (max-width: 1015px) {


        #myCheckbox {
            position: absolute;
            width: 16px;
            height: 16px;
            margin-right: 8%;
            margin-left: 2%;
            left: 42%;
            bottom: -50%;

        }

        .input-box1 {
            width: 400px;
            height: 20px;
            padding: 14px;
            border: 1px solid #ccc;
            background-color: #121212;
            border-radius: 4px;
            position: absolute;
            left: 51.5%;
            /* Centers the input box horizontally */
            transform: translateX(-50%);
            /* Centers it more accurately */
            top: 85%;
            /* Moves the input box down */
            margin-bottom: 50%;
        }

        .input-box {
            width: 400px;
            height: 20px;
            padding: 14px;
            border: 1px solid #ccc;
            background-color: #121212;
            border-radius: 4px;
            position: absolute;
            left: 64.5%;
            /* Centers the input box horizontally */
            transform: translateX(-50%);
            /* Centers it more accurately */
            top: 110%;
            /* Moves the input box down */
            margin-bottom: 50%;
        }

        #myCheckbox {
            position: absolute;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            left: 41%;
            bottom: -50%;
        }

        #b1,
        #b2,
        #b3 {
            width: 400px;
            height: 48px;
            border-radius: 500px;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 15px;
        }


        #b1 {
            background-color: #121212;
            border: 2px solid darkgrey;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #D9D9D9;

        }

        #b2 {
            background-color: #121212;
            border: 2px solid darkgrey;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #D9D9D9;

        }

        #b3 {
            background-color: #121212;
            border: 2px solid darkgrey;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #D9D9D9;

        }


        .acc h1 {
            font-weight: 900;
            opacity: 100;
            color: rgb(255, 255, 255);
            margin-right: 230px;
            font-size: small;
            letter-spacing: 0.1px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin-bottom: -20px;
        }

        #pass {
            margin-right: 340px;
            margin-top: 100px;
        }


    }


    @media (max-width: 845px) {


        #myCheckbox {
            position: absolute;
            width: 16px;
            height: 16px;
            margin-right: 14%;
            margin-left: 4%;
            left: 42%;
            bottom: -50%;

        }

        .input-box1 {
            width: 350px;
            height: 20px;
            padding: 14px;
            border: 1px solid #ccc;
            background-color: #121212;
            border-radius: 4px;
            position: absolute;
            left: 51.5%;
            /* Centers the input box horizontally */
            transform: translateX(-50%);
            /* Centers it more accurately */
            top: 85%;
            /* Moves the input box down */
            margin-bottom: 50%;
        }

        .input-box {
            width: 350px;
            height: 20px;
            padding: 14px;
            border: 1px solid #ccc;
            background-color: #121212;
            border-radius: 4px;
            position: absolute;
            left: 64.5%;
            /* Centers the input box horizontally */
            transform: translateX(-50%);
            /* Centers it more accurately */
            top: 110%;
            /* Moves the input box down */
            margin-bottom: 50%;
        }

        #myCheckbox {
            position: absolute;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            left: 41%;
            bottom: -50%;
        }

        #b1,
        #b2,
        #b3 {
            width: 350px;
            height: 48px;
            border-radius: 500px;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 15px;
        }


        #b1 {
            background-color: #121212;
            border: 2px solid darkgrey;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #D9D9D9;

        }

        #b2 {
            background-color: #121212;
            border: 2px solid darkgrey;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #D9D9D9;

        }

        #b3 {
            background-color: #121212;
            border: 2px solid darkgrey;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #D9D9D9;

        }


        .acc h1 {
            font-weight: 900;
            opacity: 100;
            color: rgb(255, 255, 255);
            margin-right: 185px;
            font-size: small;
            letter-spacing: 0.1px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin-bottom: -20px;
        }

        #pass {
            margin-right: 300px;
            margin-top: 100px;
        }

        .header-logo {
            width: 100%;
            height: 90;
            box-shadow: 1px 1px 1px #D9DADC;
        }

        .logo {
            position: absolute;
            width: 50px;
            height: 45px;
            top: 3%;
            left: 47%;
        }
    }

    @media (max-width: 707px) {


        #myCheckbox {
            position: absolute;
            width: 16px;
            height: 16px;
            margin-right: 14%;
            margin-left: 7%;
            left: 42%;
            bottom: -50%;

        }

        .input-box1 {
            width: 300px;
            height: 20px;
            padding: 14px;
            border: 1px solid #ccc;
            background-color: #121212;
            border-radius: 4px;
            position: absolute;
            left: 51.5%;
            /* Centers the input box horizontally */
            transform: translateX(-50%);
            /* Centers it more accurately */
            top: 85%;
            /* Moves the input box down */
            margin-bottom: 50%;
        }

        .input-box {
            width: 300px;
            height: 20px;
            padding: 14px;
            border: 1px solid #ccc;
            background-color: #121212;
            border-radius: 4px;
            position: absolute;
            left: 64.5%;
            /* Centers the input box horizontally */
            transform: translateX(-50%);
            /* Centers it more accurately */
            top: 110%;
            /* Moves the input box down */
            margin-bottom: 50%;
        }

        #myCheckbox {
            position: absolute;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            left: 41%;
            bottom: -50%;
        }

        #b1,
        #b2,
        #b3 {
            width: 300px;
            height: 48px;
            border-radius: 500px;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 15px;
        }


        #b1 {
            background-color: #121212;
            border: 2px solid darkgrey;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #D9D9D9;

        }

        #b2 {
            background-color: #121212;
            border: 2px solid darkgrey;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #D9D9D9;

        }

        #b3 {
            background-color: #121212;
            border: 2px solid darkgrey;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #D9D9D9;

        }


        .acc h1 {
            font-weight: 900;
            opacity: 100;
            color: rgb(255, 255, 255);
            margin-right: 140px;
            font-size: small;
            letter-spacing: 0.1px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin-bottom: -20px;
        }

        #pass {
            margin-right: 250px;
            margin-top: 100px;
        }

        .header-logo {
            width: 100%;
            height: 90;
            box-shadow: 1px 1px 1px #D9DADC;
        }

        .logo {
            position: absolute;
            width: 50px;
            height: 45px;
            top: 3%;
            left: 47%;
        }

        #logi {
            position: absolute;
            bottom: -58%;
            right: 20%;
            cursor: pointer;
            background-color: #1ED760;
            border-radius: 500px;
            width: 110px;
            height: 45px;
            border: none;
            /* Change border to none for better styling */
            font-weight: bold;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }


        #signup2 {
            position: absolute;
            border-radius: 500px;

            height: 48px;
            bottom: -100%;
            white-space: nowrap;
            background-color: #121212;
            border-color: #D9D9D9;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: #D9D9D9;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bold;
            width: 400px;
        }
    }


    @media (max-width: 577px) {


        #myCheckbox {
            position: absolute;
            width: 16px;
            height: 16px;
            margin-right: 14%;
            margin-left: 10%;
            left: 42%;
            bottom: -50%;

        }

        .input-box1 {
            width: 200px;
            height: 20px;
            padding: 14px;
            border: 1px solid #ccc;
            background-color: #121212;
            border-radius: 4px;
            position: absolute;
            left: 51.5%;
            /* Centers the input box horizontally */
            transform: translateX(-50%);
            /* Centers it more accurately */
            top: 85%;
            /* Moves the input box down */
            margin-bottom: 50%;
        }

        .input-box {
            width: 200px;
            height: 20px;
            padding: 14px;
            border: 1px solid #ccc;
            background-color: #121212;
            border-radius: 4px;
            position: absolute;
            left: 64.5%;
            /* Centers the input box horizontally */
            transform: translateX(-50%);
            /* Centers it more accurately */
            top: 110%;
            /* Moves the input box down */
            margin-bottom: 50%;
        }

        #myCheckbox {
            position: absolute;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            left: 41%;
            bottom: -50%;
        }

        #b1,
        #b2,
        #b3 {
            width: 200px;
            height: 48px;
            border-radius: 500px;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 12px;
        }


        #b1 {
            background-color: #121212;
            border: 2px solid darkgrey;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #D9D9D9;

        }

        #b2 {
            background-color: #121212;
            border: 2px solid darkgrey;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #D9D9D9;

        }

        #b3 {
            background-color: #121212;
            border: 2px solid darkgrey;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #D9D9D9;

        }


        .acc h1 {
            font-weight: 900;
            opacity: 100;
            color: rgb(255, 255, 255);
            margin-right: 50px;
            font-size: smaller;
            letter-spacing: 0.1px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin-bottom: -20px;
        }

        #pass {
            margin-right: 160px;
            margin-top: 100px;
        }

        .header-logo {
            width: 100%;
            height: 90;
            box-shadow: 1px 1px 1px #D9DADC;
        }

        .logo {
            position: absolute;
            width: 50px;
            height: 45px;
            top: 3%;
            left: 47%;
        }

        #logi {
            position: absolute;
            bottom: -58%;
            right: 20%;
            cursor: pointer;
            background-color: #1ED760;
            border-radius: 500px;
            width: 110px;
            height: 45px;
            border: none;
            /* Change border to none for better styling */
            font-weight: bold;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }


        #signup2 {
            position: absolute;
            border-radius: 500px;

            height: 48px;
            bottom: -100%;
            white-space: nowrap;
            background-color: #121212;
            border-color: #D9D9D9;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: #D9D9D9;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bold;
            width: 200px;
        }
    }

    @media (max-width: 470px) {


        #myCheckbox {
            position: absolute;
            width: 16px;
            height: 16px;
            margin-right: 20%;
            margin-left: 15%;
            left: 42%;
            bottom: -50%;

        }

        .input-box1 {
            width: 200px;
            height: 20px;
            padding: 14px;
            border: 1px solid #ccc;
            background-color: #121212;
            border-radius: 4px;
            position: absolute;
            left: 51.5%;
            /* Centers the input box horizontally */
            transform: translateX(-50%);
            /* Centers it more accurately */
            top: 85%;
            /* Moves the input box down */
            margin-bottom: 50%;
        }

        .input-box {
            width: 200px;
            height: 20px;
            padding: 14px;
            border: 1px solid #ccc;
            background-color: #121212;
            border-radius: 4px;
            position: absolute;
            left: 64.5%;
            /* Centers the input box horizontally */
            transform: translateX(-50%);
            /* Centers it more accurately */
            top: 110%;
            /* Moves the input box down */
            margin-bottom: 50%;
        }



        #b1,
        #b2,
        #b3 {
            width: 200px;
            height: 48px;
            border-radius: 500px;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 12px;
        }


        #b1 {
            background-color: #121212;
            border: 2px solid darkgrey;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #D9D9D9;

        }

        #b2 {
            background-color: #121212;
            border: 2px solid darkgrey;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #D9D9D9;

        }

        #b3 {
            background-color: #121212;
            border: 2px solid darkgrey;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #D9D9D9;

        }


        .acc h1 {
            font-weight: 900;
            opacity: 100;
            color: rgb(255, 255, 255);
            margin-right: 38px;
            font-size: smaller;
            letter-spacing: 0.1px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin-bottom: -20px;
        }

        #pass {
            margin-right: 140px;
            margin-top: 100px;
        }

        .header-logo {
            width: 100%;
            height: 90;
            box-shadow: 1px 1px 1px #D9DADC;
        }

        .logo {
            position: absolute;
            width: 50px;
            height: 45px;
            top: 3%;
            left: 47%;
        }

        #logi {
            position: absolute;
            bottom: -58%;
            right: 5%;
            cursor: pointer;
            background-color: #1ED760;
            border-radius: 500px;
            width: 80px;
            height: 40px;
            border: none;
            /* Change border to none for better styling */
            font-weight: bold;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }


        #signup2 {
            position: absolute;
            border-radius: 500px;

            height: 48px;
            bottom: -100%;
            white-space: nowrap;
            background-color: #121212;
            border-color: #D9D9D9;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: #D9D9D9;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bold;
            width: 200px;
        }

        #don {
            position: absolute;
            bottom: -75%;
            font-size: smaller;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            right: 29%;

        }

        #agree {
            position: absolute;
            left: 20%;
            bottom: -49%;
            font-size: small;
            color: #ffffff;

        }
    }



    @media (max-width: 577px) {


        #myCheckbox {
            position: absolute;
            width: 16px;
            height: 16px;
            margin-right: 10%;
            margin-left: 5%;
            left: 42%;
            bottom: -50%;

        }

        .input-box1 {
            width: 200px;
            height: 20px;
            padding: 14px;
            border: 1px solid #ccc;
            background-color: #121212;
            border-radius: 4px;
            position: absolute;
            left: 51.5%;
            /* Centers the input box horizontally */
            transform: translateX(-50%);
            /* Centers it more accurately */
            top: 85%;
            /* Moves the input box down */
            margin-bottom: 50%;
        }

        .input-box {
            width: 200px;
            height: 20px;
            padding: 14px;
            border: 1px solid #ccc;
            background-color: #121212;
            border-radius: 4px;
            position: absolute;
            left: 64.5%;
            /* Centers the input box horizontally */
            transform: translateX(-50%);
            /* Centers it more accurately */
            top: 110%;
            /* Moves the input box down */
            margin-bottom: 50%;
        }

        #myCheckbox {
            position: absolute;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            left: 41%;
            bottom: -50%;
        }

        #b1,
        #b2,
        #b3 {
            width: 200px;
            height: 48px;
            border-radius: 500px;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 12px;
        }


        #b1 {
            background-color: #121212;
            border: 2px solid darkgrey;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #D9D9D9;

        }

        #b2 {
            background-color: #121212;
            border: 2px solid darkgrey;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #D9D9D9;

        }

        #b3 {
            background-color: #121212;
            border: 2px solid darkgrey;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #D9D9D9;

        }


        .acc h1 {
            font-weight: 900;
            opacity: 100;
            color: rgb(255, 255, 255);
            margin-right: 50px;
            font-size: smaller;
            letter-spacing: 0.1px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin-bottom: -20px;
        }

        #pass {
            margin-right: 160px;
            margin-top: 100px;
        }

        .header-logo {
            width: 100%;
            height: 90;
            box-shadow: 1px 1px 1px #D9DADC;
        }

        .logo {
            position: absolute;
            width: 50px;
            height: 45px;
            top: 3%;
            left: 47%;
        }

        #logi {
            position: absolute;
            bottom: -58%;
            right: 20%;
            cursor: pointer;
            background-color: #1ED760;
            border-radius: 500px;
            width: 110px;
            height: 45px;
            border: none;
            /* Change border to none for better styling */
            font-weight: bold;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }


        #signup2 {
            position: absolute;
            border-radius: 500px;

            height: 48px;
            bottom: -100%;
            white-space: nowrap;
            background-color: #121212;
            border-color: #D9D9D9;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: #D9D9D9;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bold;
            width: 200px;
        }
    }

    @media (max-width: 251px) {


        #myCheckbox {
            position: absolute;
            width: 16px;
            height: 16px;
            margin-right: 20%;
            margin-left: 15%;
            left: 42%;
            bottom: -50%;

        }

        .input-box1 {
            width: 200px;
            height: 20px;
            padding: 14px;
            border: 1px solid #ccc;
            background-color: #121212;
            border-radius: 4px;
            position: absolute;
            left: 51.5%;
            /* Centers the input box horizontally */
            transform: translateX(-50%);
            /* Centers it more accurately */
            top: 85%;
            /* Moves the input box down */
            margin-bottom: 50%;
        }

        .input-box {
            width: 200px;
            height: 20px;
            padding: 14px;
            border: 1px solid #ccc;
            background-color: #121212;
            border-radius: 4px;
            position: absolute;
            left: 64.5%;
            /* Centers the input box horizontally */
            transform: translateX(-50%);
            /* Centers it more accurately */
            top: 110%;
            /* Moves the input box down */
            margin-bottom: 50%;
        }



        #b1,
        #b2,
        #b3 {
            width: 200px;
            height: 48px;
            border-radius: 500px;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 12px;
        }


        #b1 {
            background-color: #121212;
            border: 2px solid darkgrey;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #D9D9D9;

        }

        #b2 {
            background-color: #121212;
            border: 2px solid darkgrey;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #D9D9D9;

        }

        #b3 {
            background-color: #121212;
            border: 2px solid darkgrey;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #D9D9D9;

        }


        .acc h1 {
            font-weight: 900;
            opacity: 100;
            color: rgb(255, 255, 255);
            margin-right: 38px;
            font-size: smaller;
            letter-spacing: 0.1px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin-bottom: -20px;
        }

        #pass {
            margin-right: 140px;
            margin-top: 100px;
        }

        .header-logo {
            width: 100%;
            height: 90;
            box-shadow: 1px 1px 1px #D9DADC;
        }

        .logo {
            position: absolute;
            width: 50px;
            height: 45px;
            top: 3%;
            left: 47%;
        }

        #logi {
            position: absolute;
            bottom: -58%;
            right: 5%;
            cursor: pointer;
            background-color: #1ED760;
            border-radius: 500px;
            width: 80px;
            height: 40px;
            border: none;
            /* Change border to none for better styling */
            font-weight: bold;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }


        #signup2 {
            position: absolute;
            border-radius: 500px;

            height: 48px;
            bottom: -100%;
            white-space: nowrap;
            background-color: #121212;
            border-color: #D9D9D9;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: #D9D9D9;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bold;
            width: 200px;
        }

        #don {
            position: absolute;
            bottom: -75%;
            font-size: smaller;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            right: 29%;

        }

        #agree {
            position: absolute;
            left: 20%;
            bottom: -49%;
            font-size: small;
            color: #ffffff;

        }
    }
}