.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
}

.socials{
    width: 450px;
    height: 48px;
    border-radius: 500px;
    padding-top: 12px;
    align-self: center;
}
