body {
    background-color: white;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-top: 30px;
    justify-content: center;
}

#b1,
#b2,
#b3,
#next {
    width: 450px;
    height: 48px;
    border-radius: 500px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

#b1 {
    background-color: #121212;
    border: 2px solid darkgrey;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #D9D9D9;

}

#b2 {
    background-color: #121212;
    border: 2px solid darkgrey;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #D9D9D9;

}

#b3 {
    background-color: #121212;
    border: 2px solid darkgrey;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #D9D9D9;

}

#b1 img,
#b2 img,
#b3 img {
    margin-right: 10px;
}

.divider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.line {
    width: 10%;
    height: 2px;
    background-color: rgb(224, 224, 224);
    margin: 0 10px;
}

.text {
    font-size: 18px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0 10px;
    white-space: nowrap;
    color: #ffffff;
}

.acc h1 {
    font-weight: 900;
    opacity: 100;
    color: rgb(255, 255, 255);
    margin-right: 310px;
    font-size: small;
    letter-spacing: 0.1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: -20px;
}

#pass {
    margin-right: 410px;
    margin-top: 100px;
}

.input-box {
    width: 450px;
    height: 20px;
    padding: 14px;
    margin-left: -13%;
    margin-bottom: 40%;
    border: 1px solid #ccc;
    background-color: #121212;
    border-radius: 4px;
}

#forg {
    position: absolute;
    left: 37%;
    bottom: -35%;
    color: #ffffff;
}

#logi {
    position: absolute;
    bottom: -58%;
    right: 38%;
    cursor: pointer;
    background-color: #1ED760;
    border-radius: 500px;
    width: 121px;
    height: 48px;
    border: none;
    /* Change border to none for better styling */
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Updated Checkbox Label Style */


/* Checkbox Style */
#myCheckbox {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    left: 53%;
    bottom: -50%;
}

#agree {
    position: absolute;
    left: 38.5%;
    bottom: -49%;
    font-size: small;
    color: #ffffff;

}

#line2 {
    position: absolute;
    width: 27%;
    height: 2px;
    background-color: rgb(224, 224, 224);
    bottom: -65%;
    right: 36%;

}

#don {
    position: absolute;
    bottom: -75%;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    right: 29%;

}

#signup2 {
    position: absolute;
    border-radius: 500px;
    width: 121px;
    height: 48px;
    bottom: -100%;
    white-space: nowrap;
    background-color: #121212;
    border-color: #D9D9D9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #D9D9D9;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    width: 450px;
}

#b1:hover,
#b2:hover,
#b3:hover {
    border-color: rgb(255, 255, 255);
    /* Changes background color on hover */
}

#signup2:hover {

    border-color: rgb(255, 255, 255);
}

.input-box:hover {

    border-color: rgb(255, 255, 255);
}